@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Barlow:wght@200&display=swap');

.fancytext {
  background: -webkit-linear-gradient(0deg, #68f7d5 0, #ccffa6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sectiontext {
  color: #3238a8;
}

.viewProjectBtn {
  padding: 5px 8px 5px 8px;
  background: -webkit-linear-gradient(0deg, #68f7d5 0, #ccffa6 100%);
  border-radius: 10px;
  border: 1px solid gray;
}

p{
  font-family: Barlow, sans-serif;
  font-weight: 300;
}

.aTitleText{
  font-family: 'Barlow Condensed', sans-serif;
}

h1{
  font-size: 2em;
  font-weight: bold;
}

ul{
  list-style-type: disc;
  padding: 20px;
}

pre{
  background: rgb(71, 67, 67);
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

::-webkit-scrollbar{
  width: 20px;
}